## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
# Answer 1
4

4

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [2]:
# Answer 2
num=int(input("Enter the number"))

if num%2==0:
    print(num,"Number is even")
else:
    print(num,"Number is odd")

Enter the number 21

21 Number is odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [4]:
# Answer 3
multipication=int(input("Enter the number for which table required"))

for i in range(1,11):
    print(multipication,"x",i,"=",multipication*i)

Enter the number for which table required 191

191 x 1 = 191
191 x 2 = 382
191 x 3 = 573
191 x 4 = 764
191 x 5 = 955
191 x 6 = 1146
191 x 7 = 1337
191 x 8 = 1528
191 x 9 = 1719
191 x 10 = 1910

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 ,
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [5]:
list_Q4=[ i for i in range(2000,3201) if i%7==0 and i%5!=0]
print(list_Q4)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [6]:
list_Q5= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
dict_Q5={"int":0,"float":0,"string":0,"boolean":0,"others":0}

for i in list_Q5:
    if type(i)==int:
        dict_Q5["int"]+=1
    elif type(i)==float:
        dict_Q5["float"]+=1
    elif type(i)==str:
        dict_Q5["string"]+=1
    elif type(i)==bool:
        dict_Q5["boolean"]+=1
    else:
        dict_Q5["others"]+=1

print(dict_Q5)

{'int': 5, 'float': 1, 'string': 4, 'boolean': 1, 'others': 1}

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [7]:
list_Q6=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
answer_q6=0
for i in list_Q6:
    if type(i)==int or type(i)==float:
        answer_q6+=i
print(answer_q6)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [8]:
list_Q7=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
answer_q7=[]
for i in list_Q7:
    if type(i)==str:
        answer_q7.append(i)
("-").join(answer_q7)

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [9]:
def custom_q8(q8):
    sum_q8=0
    count_q8=0
    for i in q8:
        if type(i)==int or type(i)==float:
            sum_q8+=i
        elif type(i)==str:
            count_q8+=1
    return {"Sum":sum_q8,"Count_of_Strs":count_q8}

l1=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
custom_q8(l1)

{'Sum': 21.5, 'Count_of_Strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [10]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

# 1
l2=[]
for i in li:
    if i%2==0:
        l2.append(i)
print(l2)
# 2
l3=[j for j in li if j%2==0 ]
print(l3)
# 3
l4=list(filter(lambda x : x%2==0,li))
print(l4)

[22, 54, 62]
[22, 54, 62]
[22, 54, 62]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [11]:
def custom_q10(l3):
    l3={"Sum":0,"Count":0,"Min":0,"Max":0,"Mean":0}
    l3["Sum"]=sum(l2)
    l3["Count"]=len(l2)
    l3["Min"]=min(l2)
    l3["Max"]=max(l2)
    l3["Mean"]=sum(l2)/len(l2)
    return l3
custom_q10([20,30,40,50,60,70,108,1361,2530])

{'Sum': 138, 'Count': 3, 'Min': 22, 'Max': 62, 'Mean': 46.0}

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [12]:
def custom_q11(shape,**dimen):
    area=0
    try:
        if shape.lower()=="circle":
            area=dimen['r']*3.14
        elif shape.lower()=="square":
            area=dimen['s']**2
        elif shape.lower()=="rectangle":
            area=dimen['l']*dimen['w']
        else:
            print("Enter the right shape")
    except:
        if shape.lower()=="circle":
            print("Enter the radius of Circle")
        elif shape.lower()=="square":
            print("Enter the Side of Square")
        elif shape.lower()=="rectangle":
            print("Enter the length and breadth of rectangle")
        
            
    return area
print(custom_q11(shape="CIRCLe",r=10))
print(custom_q11(shape="sQuare",s=10))
print(custom_q11(shape="rectangle",l=10,w=11))

31.400000000000002
100
110

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [13]:
def reconcile_lists(l1, l2):

  matched = list(set(l1) & set(l2))
  only_in_l1 = list(set(l1) - set(l2))
  only_in_l2 = list(set(l2) - set(l1))

  return {
      'Matched': matched,
      'Only in l1': only_in_l1,
      'Only in l2': only_in_l2
  }


l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
reconcile_lists(l1, l2)

{'Matched': ['January', 'June', 'December', 'February'],
 'Only in l1': ['May', 'March', 'September'],
 'Only in l2': ['October', 'April']}

Q13: write a UDF to check if a number is prime or not.

In [14]:
def prime_num(n):
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count+=1
    if count==2:
        return "Prime number"
    else:
        return "Not A Prime number"
print(prime_num(9))
print(prime_num(3))

Not A Prime number
Prime number

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [15]:
q14_i=int(input("Enter the number"))
q14=1
for i in range(2,q14_i+1):
    q14*=i
answer_q14=q14
print(answer_q14)

Enter the number 7

5040

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [16]:
q15_i=int(input("Enter the number"))
dict_q15={}
for i in range(1,q15_i+1):
    dict_q15[i]=i*i
answer_q15=dict_q15
print(dict_q15)

Enter the number 11

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [17]:
str_q16=input("Enter sequence of comma-separated numbers")
str_q16=str_q16.split(",")
print(str_q16,tuple(str_q16))

Enter sequence of comma-separated numbers 68,97,108,109,111,112,114,115

['68', '97', '108', '109', '111', '112', '114', '115'] ('68', '97', '108', '109', '111', '112', '114', '115')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [30]:
string=input("Enter comma separated sequence of words ")
try:
    if type(int(string))==int:
        print("Enter the comma separated sequence of words only")
except:
    try:
        if type(float(string))==float:
            print("Enter the comma separated sequence of words only")
    except:
        None
list_q17=string.split(",")
list_q17.sort()
print((",").join(list_q17))

Enter comma separated sequence of words  without,hello,bag,world

bag,hello,without,world

Q18. Write a program that accepts a 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [31]:
string1=input("Enter text only (press Q/q to quit)")
list_q18=string1.split(" ")
list_q18=sorted(set(list_q18))
for i in list_q18:
    print(i,end=" ")

Enter text only (press Q/q to quit) hello world and practice makes perfect and hello world again

again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [32]:
string_q19=input("Enter sentence only")
count_lower=0
count_upper=0
for i in string_q19:
    if i.isupper():
        count_upper+=1
    elif i.islower():
        count_lower+=1
print("UPPER CASE",count_upper,"LOWER CASE",count_lower)

Enter sentence only ANuj SaLwan

UPPER CASE 4 LOWER CASE 6

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [33]:
string_q20=input("Enter the text only")
print(string_q20[::-1])

Enter the text only anuj1234

4321juna