1.	Import the attached Netflix csv file in Jupyter notebook and perform following operations using Pandas:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1=pd.read_csv("Netflix.csv")

a)	Print the first 5 rows and last 5 rows of the dataframe

In [ ]:
# First 5 Rows
df1.head()

In [ ]:
# Last 5 rows
df1.tail()

b)	Check how many rows and columns are there using Pandas function.

In [ ]:
print("The numbers of rows are",df1.shape[0],"and the Numbers of columns",df1.shape[1])

c)	Print all the column names.

In [ ]:
df1.columns

d)	Calculate the descriptive statistics of all the variables(integer/float/object etc).

In [ ]:
df1.describe(include="all").T

e)	Check the number of unique values for each column.

In [ ]:
df1.nunique()

f)	Check the percentage of missing values for each column.

In [ ]:
round((df1.isnull().sum()/df1.shape[0])*100,2)

g)	Delete all the rows where Director column has missing values

In [ ]:
df1.dropna(subset="director",inplace=True)

h)	Print all the records where country has Germany value (including West Germany). If any other country is there along with Germany, then that row should also come in output.

In [ ]:
df1[df1['country'].str.contains(r'Germany|West Germany', case=False, na=False)]

i)	Expand Duration column into 2 separate columns – First column having the numeric value and other having String. Eg: 3 seasons should be split in 2 columns having 3 in 1st column and seasons in 2nd column.

In [ ]:
df1[["Time","Balance"]]=df1.duration.str.split(" ",expand=True)
df1.head()

j)	Split Date added into 3 separate columns having date value in 1st column, month value in 2nd column and year value in 3rd

In [ ]:
df1[["Month","Date","Year","Drop"]]=df1.date_added.str.split(" ",expand=True)
df1.drop("Drop",axis=1,inplace=True)

In [ ]:
df1.Date=df1.Date.str.replace(","," ")

In [ ]:
df1.head()

k)	Print the number of TV shows/Movies released in each year.

In [ ]:
df1.groupby(["release_year","type"])["release_year"].count()

l)	Rename the column title with movie_title

In [ ]:
df1.rename(columns={"title":"movie_title"},inplace=True)

m)	Split Listed_in column into 3 different columns with col name (Genre1, Genre2, Genre3). Split the column based on comma.

In [ ]:
df1[["Genre1","Genre2","Genre3"]]=df1.listed_in.str.split(",",expand=True)

In [ ]:
df1.head()

2.	Import both the attached files (student.csv and marks.csv) in Jupyter notebook and perform following operations:

In [ ]:
students=pd.read_csv("Students.csv")
marks=pd.read_csv("Marks.csv")

In [ ]:
students.head()

In [ ]:
marks.head()

a)	Combine both the dataframes into single dataframe which will have all the records from both the tables.

In [ ]:
students_merged=pd.merge(students,marks,on="Student_id",how="outer")
students_merged

b)	Print the maximum and minimum marks Gender wise.

In [ ]:
students_merged.groupby("Gender")["Mark"].agg(["min","max"])

c)	Print all the students IDs and their marks who have scored more than the average marks of the class.

In [ ]:
students_merged.loc[students_merged.Mark>students_merged.Mark.mean(),["Student_id","Mark"]]

d)	Print the dataframe who are Males and are Employed.

In [ ]:
students_merged.loc[(students_merged.Gender=="Male") & (students_merged.Employed=="yes") ]

e)	Create a new Column ‘IQ_level’ which will have 3 values (Intelligent, Mediocre, weak). If student scored than 80 then Tag him as Intelligent, if student scored between 50-80, then Mediocre, else weak

In [ ]:
def iq(n):
    if n>80:
        return "Intelligent"
    elif 80>=n>=50:
        return "Mediocre"
    else:
        return "weak"

In [ ]:
students_merged["IQ_level"]=students_merged.Mark.map(iq)

In [ ]:
students_merged.head()

f)	Count the number of males and females from each city.

In [ ]:
students_merged.groupby(["Gender","City"])["City"].count()

g)	Print the top 5 Male scorers.

In [ ]:
male=students_merged[students_merged.Gender=="Male"]

In [ ]:
male.sort_values(by="Mark",ascending=False).head()

h)	Replace the Male value with M and Female value with F and export this dataframe to excel file in D: (D drive) and name the file as test.csv.

In [ ]:
import numpy as np

In [ ]:
students_merged["Gender"]=np.where(students_merged["Gender"]=="Male","M","F")
students_merged.to_csv(r"D:\test.csv")

In [ ]:
students_merged.head()

i)	Check if any student_ID is duplicated.

In [ ]:
## No Student id is duplicated
students_merged["Student_id"].duplicated().sum()

j)	Create a separate dataframe which will have all the Integer/Float variables.

In [ ]:
students_merged_int=students_merged.select_dtypes(include=[int,float])

In [ ]:
students_merged_int

k)	Get those Student_IDs which are present in Students table but not in Marks table.

In [ ]:
students_merged.loc[students_merged.Mark.isnull(),["Student_id"]]

3.	Explain the concept of missing values. How can you identify the missing values in a Pandas DataFrame ?
What are the different ways of treating/Imputing/Deleting the missing values.
Explain with example.

##### Missing values occur in datasets when some entries for certain variables are not recorded or are unavailable.
In Pandas, missing values are usually represented by:NaN (Not a Number) for numeric columns, None or NaT for object/datetime columns

### different ways of treating/Imputing/Deleting the missing values:

#### 1. Deletion
#### Remove rows or columns containing missing values.

#Drop rows with any missing value:
 df_dropped_rows = df.dropna()

#Drop columns with any missing value:
 df_dropped_cols = df.dropna(axis=1)

#### 2. Imputation (Filling)
#### Replace missing values with a substitute.

##### a) Using a constant value: df_filled_const = df.fillna(0)  # replace NaN with 0
##### b) Using statistical measures :df["Age"].fillna(df["Age"].mean(), inplace=True)   # mean
                        df["Age"].fillna(df["Age"].median(), inplace=True) # median
                        df["Name"].fillna(df["Name"].mode()[0], inplace=True) # mode


#### 3. Forward fill / Backward fill
##### df_ffill = df.fillna(method="ffill")  # fill using previous value
df_bfill = df.fillna(method="bfill")  # fill using next value

## Examples

In [ ]:
#creating a dummy dataset containing missing values
import numpy as np


df = pd.DataFrame({
    "Name": ["Anuj", "Amit", None, "Lalit", "Arun"],
    "Age": [25, np.nan, 22, np.nan, 28],
    "Score": [85, 90, np.nan, 75, None]
})

print("Original DataFrame with Missing Values:\n", df)

In [ ]:
#identifying missing values
print(df.isnull())

In [ ]:
#deleting missing values
df.dropna()

In [ ]:
#Fiiling missing values with a constant
df.fillna(0)

In [ ]:
#Forward Fill
df.ffill()

In [ ]:
#Backward Fill
df.bfill()